# Flask
SECRET_KEY=mr^lgt937nb4f1!@8pnvlx-1@yeb%*c5o-!tg5!9xjrulox+g6

# Database
POSTGRES_DB=flaskdb
POSTGRES_USER=vorobey4k
POSTGRES_PASSWORD=1234
POSTGRES_HOST=dbps
POSTGRES_PORT=5432

DATABASE_URL=postgresql://vorobey4k:1234@postgres:5432/flaskdb