<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Student Groups{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="{{ url_for('static', filename='js/form.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    
</head>
<body>
    <nav class="navigation">
        <ul>
            <li><a href="/">➕ Добавление</a></li>
            <li><a href="/api/groups">📋 Список (JSON)</a></li>
        </ul>
    </nav>

    <main class="main">
        {% block content %}{% endblock %}
    </main>

</body>
</html>